<div class="popular_places_area" style="padding-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center" style="padding: 20px">
          <h1>Destinos Disponibles</h1>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row">

          {{#each destinos}}
          <div class="col-lg-6 col-md-6">
            <div class="single_place">
              <div class="thumb">
                <img src="img/place/1.jpg" alt="" width="360px" height="200px" />
                <a href="#" class="prise">Precio: $40.000</a>
              </div>
              <div class="place_info">
                <a href="/findelmundo/{{_id}}">
                  <h3>{{nombre}}</h3>
                </a>
                <p>{{ubicacion}}</p>
                <p><strong>Ocupación Máxima:</strong> {{ocupacion}}</p>
                <div class="rating_days d-flex justify-content-between">
                  <span class="d-flex justify-content-center align-items-center">
                    <a href="#"><strong>Jornadas:</strong> </a>
                  </span>
                  <div class="days">
                    <i class="fa fa-clock-o"></i>
                    <a href="#"> {{formatoH morning.[0]}} - {{formatoH morning.[1]}} AM</a>
                  </div>

                  <div class="days">
                    <i class="fa fa-clock-o"></i>
                    <a href="#">{{formatoH evening.[0]}} - {{formatoH evening.[1]}} PM</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>